*.pyc
*.swp
*.swo
*.swn
*.swm
dist/*
src/crl.interactivesessions.egg-info/*
sphinxdocs/robotdocs.rst
build/*
build_dir/*
robotdocs/*.html
coverage.xml
junit.xml
result.json
.tox/*
.cache/*
.coverage
log.html
output.xml
report.html
remotefile
targetlocal
remoterunnerfile
remotescriptfile
.pytest_cache/
