include tox.ini
recursive-include tests/ *.py
include atests/*.py
include robottests/*
include stability-tests/*
include .coveragerc
include .pylintrc
include README.rst
include .flake8
include docker-robottests-targets/docker-robottests
include docker-robottests-targets/docker-compose.yaml
include docker-robottests-targets/py27/Dockerfile
include docker-robottests-targets/py37/Dockerfile
